:root {
	color-scheme: light dark;
	color: white;
	background-color: black;
}

body {
	padding: 0;
	margin: 0;
}

@media (prefers-color-scheme: light) {
	:root {
		color: black;
		background-color: white;
	}
}
